{% extends 'student_temp/base.html' %}
{% load static %}

{% block content %}
<div style="width:400px; margin:0px auto; height:auto; padding-top:50px">
<table width="400px" class="table">
<tr>
    <th>
        Employee ID
    </th>
    <th>
        Name
    </th>
    <th>
        Designation
    </th>
</tr>
{%for obj in qs %}
<tr>
    <td>
        {{ obj.id}}
    </td>
    <td>
        {{ obj.name}}
    </td>
    <td>
        {{ obj.designation }}
    </td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
